# Copyright (c) 2015, 2026, Oracle and/or its affiliates.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is designed to work with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have either included with
# the program or referenced in the documentation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

# MySQL 服务节点
[mysqld]

# MySQL 服务启动后监听的端口号 
port=3306

# 数据目录的路径，这里演示的是 windows 下的配置，注意分隔符用/ ，如果是 \ 则需要转义为 \\.
# 把原 data 目录整体复制到新路径 
datadir=/var/lib/mysql

# MySQL 服务器的字符集与排序规则
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci

# 新建表时使用的存储引擎，windows 下已默认配置 
default_storage_engine=INNODB

# 配置时区
default_time_zone='+8:00'

########################## 日志部分 ##########################
log_output=TABLE # 日志的输出方式

general_log=1 # 开启⼀般查询日志

general_log_file=/var/lib/mysql/general.log  # 指定自定义的文件名 

slow_query_log=1 # 开启慢查询日志

slow_query_log_file=/var/lib/mysql/slow_query.log # 指定自定义的文件名

